body {
    /*#e0f0ea #95adbe #574f7d #503a65 #3c2a4d*/
    margin: 15px;
    padding: 12px;
    background-color: #e0f0ea;
    color: #3c3836;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #503a65;
}

ul {
    padding-left: 2%;
    list-style-type: "+ ";
}

li {
    margin-bottom: 2px;
}

code {
    padding: 2px;
    background-color: #427b5857;
    border-radius: 2px;
    color: #503a65;
}

.indent-ul {
    margin-bottom: 1%;
}

.indent-li {
    margin-left: 2%;
}

.intro {
    margin: 0;
    margin-bottom: 10px;
    color: #3c2a4d;
}

.divider {
    margin-top: 10px;
    padding: 30px;
    background-color: #95adbe;
    border-radius: 15px;
}

.altcode {
    font-family: monospace;
    font-size: 15px;
    border-radius: 2px;
    color: #3c2a4d;
}

.footer {
    margin-top: 30px;
}

.wrapper {
    height: 60px;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 650px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
} 